@model IEnumerable<Leaderboard_JEI.Models.Rifa>

@{
    ViewData["Title"] = "ListaIdRifa";
}

<h1>ListaIdRifa</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumRifa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoRifa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumRifa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoRifa)
            </td>
        </tr>
}
    </tbody>
</table>
