@model IEnumerable<Leaderboard_JEI.Models.Perfil>

@{
    ViewData["Title"] = "ListRifas";
}

<h1>Lista de Rifas</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rifa1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rifa2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rifa3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rifa4)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rifa1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rifa2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rifa3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rifa4)
            </td>
        </tr>
}
    </tbody>
</table>
