@model IEnumerable<Leaderboard_JEI.ViewModel.LisRifa>

@{
    ViewData["Title"] = "ListRifas";
}

<h1>Lista de Rifas</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumRifa1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumRifa2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumRifa3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumRifa4)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Username != "Admin")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumRifa1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumRifa2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumRifa3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumRifa4)
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
